.ud-root {
  width: 100%;
  max-width: 720px;
  margin-bottom: 45vh;

  &.read-only {
    &>*:not(:last-child) {
      margin-bottom: 12px;
      /* 设置下方的间距，最后一个子元素除外 */
    }

    margin-bottom: 15vh;
  }

  .tiptap.ProseMirror {
    padding: 20px;
    outline: none;

    h1.is-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none
    }

    .is-empty:not(h1):before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none
    }

    &>*:not(:last-child) {
      margin-bottom: 12px;
      /* 设置下方的间距，最后一个子元素除外 */
    }
  }

  h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
  }

  h4 {
    display: block;
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    border-left: 2px solid gray;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
  }

  code {
    border-radius: .125rem;
    background-color: rgb(23 23 23 /0.5);
    color: rgb(255 255 255 / 1);
    caret-color: #fff;
    padding: 0 2px;
  }

  .llt-code {
    position: relative;
    padding-top: 4px;
    background: #2d2b29;
    border-radius: 0.5rem;

    .language {
      position: absolute;
      right: 4px;
      // appearance: none;
      padding: 0 4px;
      height: 20px;
      background-color: rgba(var(--un-preset-theme-colors-modal, 255 255 255));
      border: none;
      border-radius: 4px;
      outline: none;
      font-size: 12px;
    }
  }

  pre {
    background: transparent;
    color: #ffffff;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0.25rem 0.25rem 0.25rem;
    padding: 0.75rem 1rem;
    overflow-y: auto;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    /* Code styling */
    .hljs-comment,
    .hljs-quote {
      color: #616161;
    }

    .hljs-variable,
    .hljs-template-variable,
    .hljs-attribute,
    .hljs-tag,
    .hljs-name,
    .hljs-regexp,
    .hljs-link,
    .hljs-name,
    .hljs-selector-id,
    .hljs-selector-class {
      color: #f98181;
    }

    .hljs-number,
    .hljs-meta,
    .hljs-built_in,
    .hljs-builtin-name,
    .hljs-literal,
    .hljs-type,
    .hljs-params {
      color: #fbbc88;
    }

    .hljs-string,
    .hljs-symbol,
    .hljs-bullet {
      color: #b9f18d;
    }

    .hljs-title,
    .hljs-section {
      color: #faf594;
    }

    .hljs-keyword,
    .hljs-selector-tag {
      color: #70cff8;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: 700;
    }
  }

  a {
    color: #60a5fa;
  }

  ol {
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  &.front-handle {
    position: fixed;
    opacity: 1;
    transition: opacity ease-in 0.2s;
    border-radius: 0.25rem;
    width: 68px;
    height: 1.5rem;
    z-index: 50;
    display: flex;
    cursor: grab;

    &.hide {
      opacity: 0;
      pointer-events: none;
    }

    // .drag-handle {
    //   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 10' style='fill: rgba(0, 0, 0, 0.5)'%3E%3Cpath d='M3,2 C2.44771525,2 2,1.55228475 2,1 C2,0.44771525 2.44771525,0 3,0 C3.55228475,0 4,0.44771525 4,1 C4,1.55228475 3.55228475,2 3,2 Z M3,6 C2.44771525,6 2,5.55228475 2,5 C2,4.44771525 2.44771525,4 3,4 C3.55228475,4 4,4.44771525 4,5 C4,5.55228475 3.55228475,6 3,6 Z M3,10 C2.44771525,10 2,9.55228475 2,9 C2,8.44771525 2.44771525,8 3,8 C3.55228475,8 4,8.44771525 4,9 C4,9.55228475 3.55228475,10 3,10 Z M7,2 C6.44771525,2 6,1.55228475 6,1 C6,0.44771525 6.44771525,0 7,0 C7.55228475,0 8,0.44771525 8,1 C8,1.55228475 7.55228475,2 7,2 Z M7,6 C6.44771525,6 6,5.55228475 6,5 C6,4.44771525 6.44771525,4 7,4 C7.55228475,4 8,4.44771525 8,5 C8,5.55228475 7.55228475,6 7,6 Z M7,10 C6.44771525,10 6,9.55228475 6,9 C6,8.44771525 6.44771525,8 7,8 C7.55228475,8 8,8.44771525 8,9 C8,9.55228475 7.55228475,10 7,10 Z'%3E%3C/path%3E%3C/svg%3E");
    //   background-size: calc(0.5em + 0.375rem) calc(0.5em + 0.375rem);
    //   background-repeat: no-repeat;
    //   background-position: center;
    // }

    @media screen and (max-width: 600px) {
      display: none;
      pointer-events: none;
    }
  }

  button,
  &button {
    appearance: none;
    outline: none;
    border: none;
    min-width: 24px;
    min-height: 24px;
    padding: 4px;
    margin: 0;
    background: transparent;
    transition: background-color 0.2s;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #f2f2f2;
      @apply dark:bg-gray;
    }

    &:active {
      background-color: #e5e5e5;
    }
  }

  &.bubble-menu {
    display: flex;
    gap: 8px;
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    @apply bg-modal;

    $types: bold, italic, underline, strike, code, link;

    @each $type in $types {
      &[data-ud-active-#{$type}="true"] {
        .ud-bm-#{$type} {
          @apply bg-yellow;
        }
      }
    }


  }

  &.slash-menu {
    padding: 4px;
    display: flex;
    gap: 4px;
    flex-flow: column nowrap;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05);
    @apply text-sm bg-modal;

    button {
      &.selected {
        @apply bg-yellow;
      }
    }
  }
}