.ud-root {

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:target {
      scroll-margin-top: 48px;
    }
  }

  width: 100%;
  max-width: 720px;
  margin-bottom: 45vh;

  &.editable {
    @apply flex-[720px];
  }

  &.read-only {
    &>*:not(:last-child) {
      margin-bottom: 12px;
      /* 设置下方的间距，最后一个子元素除外 */
    }

    margin-bottom: 40px;
    // show full code in mobile

    .wrapper {
      &:not(.preview-only) {
        .playground {
          @media (max-width: 768px) {
            max-width: 0;
            overflow: hidden;
            padding: 0;
            margin: 0;
          }
        }
      }
    }

    p {
      min-height: 16px;
    }
  }

  .tiptap.ProseMirror {
    padding: 20px 36px;
    outline: none;

    h1.is-empty:first-child::before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none
    }

    .is-empty:not(h1):before {
      color: #adb5bd;
      content: attr(data-placeholder);
      float: left;
      height: 0;
      pointer-events: none
    }

    &>*:not(:last-child) {
      margin-bottom: 12px;
      /* 设置下方的间距，最后一个子元素除外 */
    }
  }

  h1 {
    display: block;
    font-size: 2em;
    font-weight: bold;
  }

  h2 {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
  }

  h3 {
    display: block;
    font-size: 1.17em;
    font-weight: bold;
  }

  h4 {
    display: block;
    font-weight: bold;
  }

  img {
    max-width: 100%;
  }

  blockquote {
    border-left: 2px solid gray;
    margin: 0;
    padding-left: 8px;
    padding-right: 8px;
  }

  code {
    border-radius: 4px;
    @apply bg-[#e8e8e8] dark:bg-[#727272];
    caret-color: #fff;
    padding: 1px;
    border: 1px solid rgba(31, 35, 41, 0.04);
  }

  .llt-code {
    position: relative;
    padding-top: 4px;
    background: #2d2b29;
    border-radius: 0.5rem;

    .language {
      position: absolute;
      right: 4px;
      // appearance: none;
      padding: 0 4px;
      height: 20px;
      background-color: rgba(var(--un-preset-theme-colors-modal, 255 255 255));
      border: none;
      border-radius: 4px;
      outline: none;
      font-size: 12px;
    }

    .wrapper {
      display: flex;
      justify-content: center;

      $selected: #707070;

      // &:hover {
      //   .indicator {
      //     opacity: 1;
      //   }
      // }

      .indicator {
        // opacity: 0;
        transition: all ease 0.25s;
        transition-delay: 0.1s;
        position: absolute;
        display: flex;
        border-radius: 9999px;
        padding: 1px 1px;
        font-size: 12px;

        .show-code {
          background-color: $selected;
          color: white;
        }

        .show-preview {
          color: white;
        }

        .show-code,
        .show-preview {
          width: 64px;
          text-align: center;
          cursor: pointer;
          border-radius: 9999px;
          padding: 0 1px;
        }
      }

      &.preview-only {
        .indicator {
          .show-preview {
            background-color: $selected;
            color: white;
          }

          .show-code {
            background-color: transparent;
            color: white;
          }
        }

        pre {
          // display: none;
          width: 0px;
          flex: 0;
          margin: 0;
          padding: 0;
          max-height: 0;
        }
      }
    }

    .playground {
      // transition: all ease 0.2s;
      background: white;
      flex: 1 1 0;
      margin: 1.5rem 0.25rem 0.25rem 0.25rem;
      padding: 0.75rem 1rem;
      border-radius: 4px;
    }
  }

  pre {
    flex: 1 1 0;
    // transition: all ease 0.2s;
    background: transparent;
    color: #ffffff;
    font-family: 'JetBrainsMono', monospace;
    margin: 1.5rem 0.25rem 0.25rem 0.25rem;
    padding: 0.75rem 1rem;
    overflow-y: auto;

    code {
      background: none;
      color: inherit;
      font-size: 0.8rem;
      padding: 0;
    }

    pre code.hljs {
      display: block;
      overflow-x: auto;
      padding: 1em
    }

    code.hljs {
      padding: 3px 5px
    }

    /*
    
    Atom One Dark by Daniel Gamage
    Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
    
    base:    #282c34
    mono-1:  #abb2bf
    mono-2:  #818896
    mono-3:  #5c6370
    hue-1:   #56b6c2
    hue-2:   #61aeee
    hue-3:   #c678dd
    hue-4:   #98c379
    hue-5:   #e06c75
    hue-5-2: #be5046
    hue-6:   #d19a66
    hue-6-2: #e6c07b
    
    */
    .hljs {
      color: #abb2bf;
      background: #282c34
    }

    .hljs-tag {
      color: #808080;
    }

    .hljs-comment,
    .hljs-quote {
      color: #5c6370;
      font-style: italic
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-formula {
      color: #c678dd
    }

    .hljs-section,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-deletion,
    .hljs-subst {
      color: #e06c75
    }

    .hljs-literal {
      color: #56b6c2
    }

    .hljs-string,
    .hljs-regexp,
    .hljs-addition,
    .hljs-attribute,
    .hljs-meta .hljs-string {
      color: #98c379
    }

    .hljs-attr,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-type,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-number {
      color: #d19a66
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-title {
      color: #61aeee
    }

    .hljs-built_in,
    .hljs-title.class_,
    .hljs-class .hljs-title {
      color: #e6c07b
    }

    .hljs-emphasis {
      font-style: italic
    }

    .hljs-strong {
      font-weight: bold
    }

    .hljs-link {
      text-decoration: underline
    }
  }

  a {
    color: #60a5fa;
  }

  ul,
  ol {
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
  }

  ul {
    list-style-type: disc;
  }

  ol {
    list-style-type: decimal;
  }

  ul[data-type="taskList"] {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 0;

    li {
      display: flex;
      gap: 4px
    }
  }

  &.read-only ul[data-type="taskList"] {
    label:first-child {
      pointer-events: none;
    }
  }
}

.ud-wrapper {
  --shadow: 0px 12px 33px 0px rgba(0, 0, 0, .06), 0px 3.618px 9.949px 0px rgba(0, 0, 0, .04);

  &.bubble-menu {
    display: flex;
    gap: 8px;
    padding: 4px 8px;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 4px;
    box-shadow: var(--shadow);
    @apply bg-modal;

    $types: bold, italic, underline, strike, code, link;

    @each $type in $types {
      &[data-ud-active-#{$type}="true"] {
        .ud-bm-#{$type} {
          @apply bg-yellow;
        }
      }
    }


  }

  &.slash-menu {
    padding: 4px;
    display: flex;
    gap: 4px;
    flex-flow: column nowrap;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 4px;
    box-shadow: var(--shadow);
    @apply text-sm bg-modal;

    button {
      &.selected {
        @apply bg-yellow;
      }
    }
  }


  &.front-handle {
    position: fixed;
    opacity: 1;
    transition: opacity ease-in 0.2s;
    border-radius: 0.25rem;
    width: 68px;
    height: 1.5rem;
    z-index: 50;
    display: flex;
    cursor: grab;

    &.hide {
      opacity: 0;
      pointer-events: none;
    }

    @media screen and (max-width: 600px) {
      display: none;
      pointer-events: none;
    }
  }

  &.front-handle-menu {
    position: absolute;
    z-index: 50;
    top: 100%;
    left: 0;
    transition: all ease 0.2s;
    transition-delay: 0.2s;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: 14px;
    padding: 4px;
    box-shadow: var(--shadow);
    white-space: nowrap;
    @apply bg-modal;
  }

  button,
  &button {
    appearance: none;
    outline: none;
    border: none;
    min-width: 24px;
    min-height: 24px;
    padding: 4px;
    margin: 0;
    background: transparent;
    transition: background-color 0.2s;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background-color: #f2f2f2;
      @apply dark:bg-gray;
    }

    &:active {
      background-color: #e5e5e5;
    }
  }
}