---

---

<script>
  import { mount } from '@/components/nonpost/login'
  mount()
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/favicon.png"
    />
    <meta
      name="apple-mobile-web-app-capable"
      content="yes"
    />
    <meta
      name="mobile-web-app-capable"
      content="yes"
    />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="apple-mobile-web-app-title"
      content="URODELE"
    />
    <meta
      name="msapplication-TileColor"
      content="#000000"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <meta
      name="description"
      content={'A self-owned full-static blog system'}
    />
    <link
      rel="icon"
      href="/favicon.ico"
    />
    <title>{['Urodele', 'login'].reverse().join(' | ')}</title>
  </head>
  <body class="text-text bg-bg flex items-center justify-center m-4">
    <div class="i-svg-spinners:ring-resize"></div>
  </body>
</html>
