---
import Header from '@/components/Header.astro'
import config from 'urodele.config'
import '@/styles.css'
import '@/components/TagPanel/style.css'
---

<script>
  import { mount } from '@/components/Editor'

  mount('#editor', '#editor-operations')
</script>

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Editor - {config.head.title}</title>
  </head>
  <body>
    <Header />
    <div
      class="min-h-screen"
      style="background-color: var(--color-bg);"
    >
      <div class="w-full flex flex-col">
        <div
          id="editor"
          class="w-full flex flex-col items-center min-h-8"
          data-modal-loading="true"
        >
        </div>
      </div>
    </div>
  </body>
</html>
