.tag {
    transition: all ease 0.25s;
    transition-delay: 0.25s;
    @apply dark:text-gray;
    --opacity: 0;
    --stop: 0%;
    --hover-bg: rgba(229, 231, 235, var(--opacity));
    background: linear-gradient(90deg,
            var(--hover-bg) 50%,
            rgb(248 113 113 / 1) 50%,
            rgb(248 113 113 / 1) 100%);
    background-position: 0%;
    background-size: 200%;

    &:hover {
        --opacity: 1;
        background-position: 100%;
        color: white;
    }
}

.add-tag {
    .tag-selector {
        display: none;
    }

    &:focus-within {
        .tag-selector {
            display: block;
        }
    }
}