---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Not Found">
  <div class="w-full p-4 flex justify-center items-center text-4xl">
    Not <span class="text-base px-2">Found ~</span>
  </div>
</Layout>
