---
import config from "urodele.config";
---

<footer class="mt-8 flex justify-center">
  <small class="w-full max-w-[720px] min-h-12 flex justify-center items-center opacity-80">
    <a href={config.footer.copyrightUrl} target="_blank">{config.footer.copyright}</a>
  </small>
</footer>
