---
import config from 'urodele.config'
---

<footer class="flex justify-between bg-main p-8 text-t-l">
  <div>
    <a
      href={config.footer.copyrightUrl}
      target="_blank"
      >{config.footer.copyright}</a
    >
  </div>

  <div>
    Powered by <a
      class="text-t"
      href="https://astro.build/"
      target="_blank"
      >Astro</a
    > & <a
      class="text-t"
      href="https://urodele.js.org/"
      target="_blank"
      >Urodele</a
    >
    <span class="mx-2 after:content-['|']"></span>
    Designed by <a
      class="text-t"
      href="https://blog.skk.moe"
      target="_blank"
      >Sukka</a
    >
  </div>
</footer>
