---
// Simple, reusable left sidebar wrapper. Accepts any extra classes passed via `class` prop.
import TableOfContents from '@/components/TableOfContents.astro'
import ArchiveList from './ArchiveList.astro'
import CategoryCard from './CategoryCard.astro'
import ProfileCard from './ProfileCard.astro'
import TagCard from './TagCard.astro'

const headings = Astro.props.headings
---

<div>
  <ProfileCard />
  <div class="sticky top-6 space-y-6">
    <TableOfContents headings={headings} />
    <CategoryCard />
    <TagCard />
    <ArchiveList />
  </div>
</div>
