---
import Layout from '@/layouts/Layout.astro'
import { getAllTags } from '@/pages/api/post/list'
import { formatTagDisplay } from '@/shared/tag'

const tags = (await getAllTags()).sort()
---

<Layout title="Tags">
  <main>
    <div
      class="content flex flex-wrap items-center justify-center py-2 px-4 gap-4"
    >
      {
        tags.map((tag) => (
          <a
            href={`/tag/${tag}`}
            class="text-4xl text-text text-opacity-60 hover:text-opacity-100"
          >
            #{formatTagDisplay(decodeURIComponent(tag))}
          </a>
        ))
      }
    </div>
  </main>
</Layout>
