---
import ArchiveList from '../NonPost/ArchiveList.astro'
import CategoryCard from '../NonPost/CategoryCard.astro'
import ProfileCard from '../NonPost/ProfileCard.astro'
import TagCard from '../NonPost/TagCard.astro'
import TableOfContents from '../Post/TableOfContents.astro'
const headings = Astro.props.headings
---

<Fragment>
  <ProfileCard />
  <div class="sticky top-6 space-y-6">
    {headings && headings.length > 0 && <TableOfContents headings={headings} />}
    <CategoryCard />
    <TagCard />
    <ArchiveList />
  </div>
</Fragment>
