---
import Backlinks from './Backlinks.astro'
import RecentPosts from './RecentPosts.astro'

const inklinks = Astro.props.inlinks || []
---

<Fragment>
  <div class="sticky top-6 space-y-6">
    {inklinks.length > 0 && <Backlinks inlinks={inklinks} />}
    <RecentPosts />
  </div>
</Fragment>
