---
import Card from '@/components/NonPost/Card.astro'

interface Props {
  headings?: any[]
}

const { headings = [] } = Astro.props
---

<Card title="目录">
  <nav
    class="toc-nav space-y-1 text-sm overflow-y-auto max-h-[30vh]"
    style="scrollbar-width: thin;scrollbar-color: #b5b5b5 #fff ;  "
  >
    {
      headings.map((heading) => (
        <a
          href={`#${heading.slug}`}
          class="block transition-colors duration-150 whitespace-normal break-all py-1 px-2 rounded-md hover:bg-(--hover-bg)  focus-visible:ring-2  text-t"
          style={`margin-left: ${(heading.depth - 1) * 12}px;`}
        >
          {heading.text}
        </a>
      ))
    }
  </nav>
</Card>
