body {
    padding-bottom: 48px;
}

header {
    position: sticky;
    top: 0;
    z-index: 20;
    @apply bg-bg;
}

::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
    opacity: 0;
}

::-webkit-scrollbar:hover {
    width: 4px;
    height: 4px;
    opacity: 1;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 5px;
}

@media (prefers-color-scheme: dark) {
    hr {
        border-color: rgb(119, 119, 119)
    }
}

// button
.buttoned {
    @apply px-2 py-1 rounded flex items-center justify-center gap-2 transition-all;

    &:disabled {
        @apply opacity-50 cursor-not-allowed;
    }

    &:not(:disabled) {
        &:active {
            @apply brightness-90;
        }

        &:not(:active):hover {
            @apply brightness-95;
        }
    }

    &[data-loading] {
        &::before {
            content: '';
            @apply w-3 h-3;
            background-size: contain;
            background-image: icon('i-svg-spinners:ring-resize');
            background-position: center;
            background-repeat: no-repeat;
        }
    }

    &[data-loading="false"] {
        &::before {
            content: none;
        }
    }
}

.text-button {
    @apply px-2 py-1 rounded flex items-center justify-center gap-2 transition-all;
    @apply hover:(bg-black bg-opacity-10) active:(bg-black bg-opacity-20);
}

// loading
div[data-modal-loading] {
    position: relative;

    &::before {
        @apply absolute w-full h-full top-0 left-0 bg-bg bg-opacity-80;
        content: '';
        background-size: 24px;
        background-image: icon('i-svg-spinners:ring-resize');
        background-position: center;
        background-repeat: no-repeat;
        pointer-events: all;
    }
}

div[data-modal-loading="false"] {
    &::before {
        content: none;
    }
}

// transition
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.25s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
}

// page
[data-page-draft]:not([data-page-draft="verified"]) {
    display: none;
    visibility: hidden;
}

[data-page-draft] {
    .page-title {
        position: relative;
    }

    .page-title::after {
        content: 'draft';
        position: absolute;
        left: calc(100% + 12px);
        @apply bg-yellow-200 dark:bg-yellow rounded px-2 py-1 text-xs;
    }
}