@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-primary: #409eff;
  --color-primary-light: #79bbff;
  --color-primary-dark: #337ecc;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
    background-color: transparent;
    opacity: 0;
  }

  ::-webkit-scrollbar:hover {
    width: 4px;
    height: 4px;
    opacity: 1;
  }

  ::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.28);
    border-radius: 5px;
  }

  @media (prefers-color-scheme: dark) {
    hr {
      border-color: rgb(119, 119, 119);
    }
  }
}

@layer components {
  header {
    @apply sticky top-0 z-20 bg-white dark:bg-gray-900;
  }

  .buttoned {
    @apply px-2 py-1 rounded flex items-center justify-center gap-2 transition-all;
  }

  .buttoned:disabled {
    @apply opacity-50 cursor-not-allowed;
  }

  .buttoned:not(:disabled):active {
    @apply brightness-90;
  }

  .buttoned:not(:disabled):not(:active):hover {
    @apply brightness-95;
  }

  .buttoned[data-loading]::before {
    content: '';
    @apply w-3 h-3 inline-block;
    background-size: contain;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-width='2'%3E%3Cpath stroke-dasharray='2 4' stroke-dashoffset='6' d='M12 3C16.9706 3 21 7.02944 21 12'%3E%3Canimate attributeName='stroke-dashoffset' dur='0.6s' repeatCount='indefinite' values='6;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
  }

  .buttoned[data-loading="false"]::before {
    content: none;
  }

  .text-button {
    @apply px-2 py-1 rounded flex items-center justify-center gap-2 transition-all;
    @apply hover:bg-black/10 active:bg-black/20;
  }

  div[data-modal-loading] {
    @apply relative;
  }

  div[data-modal-loading]::before {
    @apply absolute w-full h-full top-0 left-0 bg-white/80 dark:bg-gray-900/80;
    content: '';
    background-size: 24px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cg fill='none' stroke='currentColor' stroke-linecap='round' stroke-width='2'%3E%3Cpath stroke-dasharray='2 4' stroke-dashoffset='6' d='M12 3C16.9706 3 21 7.02944 21 12'%3E%3Canimate attributeName='stroke-dashoffset' dur='0.6s' repeatCount='indefinite' values='6;0'/%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
    background-position: center;
    background-repeat: no-repeat;
    pointer-events: all;
  }

  div[data-modal-loading="false"]::before {
    content: none;
  }

  [data-page-draft]:not([data-page-draft="verified"]) {
    @apply hidden invisible;
  }

  [data-page-draft] .page-title {
    @apply relative;
  }

  [data-page-draft] .page-title::after {
    content: 'draft';
    @apply bg-yellow-200 dark:bg-yellow-500 rounded mx-1 px-2 py-1 text-xs align-super;
  }
}

@layer utilities {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.25s ease;
  }

  .fade-enter-from,
  .fade-leave-to {
    opacity: 0;
  }
}
