@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  --color-bg: #f2f5f8;
  --color-main: #fff;
  --color-t: #37475b;
  --color-t-l: #64778b;
  --color-logo: #000;
  --color-link: #1f6dda;
  --color-title: #475c6e;
  --color-fab: #fff;
  --shadow-3xl: 0 4px 10px rgba(0,2,4,.06),0 0 1px rgba(0,2,4,.11);
  --t-s: #2f3d4e;
  --color-alt: #e6e8ee;
  --color-link-hover: #2674e0;
  --hover-bg: #eceef2;
  --tag: #eceef2;
  --color-border: #e3e6eb;
  --color-c-bg: #f4f5f7;
  --color-code: #405363;
  --color-github: #24292e;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  * {
    transition: grid-template-columns 0.3s ease, width 0.3s ease, max-width 0.3s ease;
  }

  /* Text overflow handling */
  .text-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  
}

