---
import Footer from '@/components/NonPost/Footer.astro'
import Header from '@/components/NonPost/Header.astro'
import { ClientRouter } from 'astro:transitions'
import config from 'urodele.config'
import '../styles/global.css'
import '../styles/task-list.css'

interface Props {
  title?: string
  description?: string
}

const { title, description } = Astro.props
---

<!doctype html>
<html lang="cn">
  <head>
    <meta charset="UTF-8" />
    <link
      rel="apple-touch-icon-precomposed"
      sizes="144x144"
      href="/favicon.png"
    />
    <meta
      name="apple-mobile-web-app-capable"
      content="yes"
    />
    <meta
      name="mobile-web-app-capable"
      content="yes"
    />
    <meta
      name="apple-mobile-web-app-status-bar-style"
      content="black-translucent"
    />
    <meta
      name="apple-mobile-web-app-title"
      content={config.head.brand}
    />
    <meta
      name="msapplication-TileColor"
      content="#000000"
    />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, viewport-fit=cover"
    />
    <meta
      name="description"
      content={description || config.head.description}
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title || config.head.title}</title>
    <ClientRouter />
  </head>
  <body style="background-color: var(--color-bg);">
    <!-- Header Navigation (includes Auth) -->
    <Header />

    <!-- Main Content (provided by child layouts) -->

    <div
      class="min-h-screen max-w-[992px] grid mx-auto gap-6 py-6 px-4 md:grid-cols-[12fr_25fr] xl:grid-cols-[23fr_54fr_23fr] xl:max-w-[1376px]"
    >
      <!-- 为了解决cls 累计布局偏移（CLS）问题 ，目前内容少还没有发现有这个问题
            加这个 col-start-1 有问题，目前没有加 https://blog.skk.moe/post/fix-blog-cls/ -->

      <div class="left-placeholder col-end-1 -order-1 max-h-0 min-w-0 h-0">
      </div>
      <main class="flex flex-col order-first md:order-0 min-w-0">
        <slot />
      </main>
      <aside class="min-w-0 -order-1 max-md:order-1">
        <slot name="left" />
      </aside>
      <aside class="min-w-0 order-1 max-xl:hidden">
        <slot name="right" />
      </aside>
    </div>

    <Footer />
  </body>
</html>
