.tabset {
    .tab-panel {
        display: none;
    }

    .tab-panels {
        display: flex;
    }

    $tabs: direct, app;

    @each $tab in $tabs {
        input[data-tab-name="#{$tab}"] {
            display: none;

            &:checked {
                &~.tab-panels {
                    .tab-panel[data-tab-name="#{$tab}"] {
                        display: block;
                    }
                }

                &~.tab-labels {
                    label[data-tab-name="#{$tab}"] {
                        border-bottom: 2px solid red;
                    }
                }
            }
        }
    }
}